<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>End</title>

    <link rel="stylesheet" href="{% static '/shitsukan_app/css/home.css' %}?23v2">
</head>

<body>
    <h1>Experiment is finished!</h1>

    <div class="menu">
        <div class="leftmenu">
            <p>USERNAME : {{user.username}}</p>
        </div>
    </div>

<h1>Thank you for your effort! <br></h1>
</body>
</html>

