<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>Material Exp</title>

  {% load static %}
  <link rel="stylesheet" href="{% static '/shitsukan_app/css/tasks.css' %}?23v2">

  <script>
      const userName = '{{ user }}';
      const is_first_measurement = '{{ is_first_measurement }}';
      const monitor_size = {{ monitor_size }};
  </script>

  <script src="{% static '/shitsukan_app/js/p5.min.js' %}?23v2"></script>
  <script src="{% static '/shitsukan_app/js/jquery-3.4.1.min.js' %}?23v2"></script>
  <script src="{% static '/shitsukan_app/js/utils.js' %}?23v2"></script>
  <script src="{% static '/shitsukan_app/js/config_intro.js' %}?23v2"></script>
  <script src="{% static '/shitsukan_app/js/instructionSlide.js' %}?23v2"></script>

  <script src="{% static '/shitsukan_app/js/app_intro/intro_config.js' %}?23v2"></script>
  <script src="{% static '/shitsukan_app/js/app_intro/intro_Scene.js' %}?23v2"></script>
  <script src="{% static '/shitsukan_app/js/app_intro/intro_SceneManager.js' %}?23v2"></script>

  <script src="{% static '/shitsukan_app/js/app_intro/intro_main.js' %}?23v2"></script>

</head>

<body>
  <form id="request">{% csrf_token %}</form>
  <script>
    // ダブルタップ無効
    document.body.addEventListener('dblclick', function(e){e.preventDefault(); });
  </script>
</body>

</html>
